.Certification{
    color: white;
    background-color: black
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 3%;
}
.c1 {
  width: 22em;
  height: 18em;
  border: 2px solid blueviolet;
  border-radius: 10px;
  display: flex;               
  justify-content: center;     
  align-items: center;         
  overflow: hidden;            
  background-color: #111;      
}

.c1 img {
    width: 91%;
    height: 90%;
    transition: transform 0.3s ease;
}

.c1 img:hover {
  transform: scale(1.05);
}

