.main{
    display: flex;
    color: white;
    background-color:black;
    width:100%;
    height:400px;
}
.img-sec{
    color: white;
    width: 45%;
}
.img-sec img{
    margin-left: 12%;
    margin-top: 11%;
    border: 4px violet solid;
    border-radius: 50%;
    height: 315px;
    width: 315px;   
    background-repeat: no-repeat;
     
}
.PInfo{
    width: 55%;
    font-size: 1.8rem;
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.PData{
    padding-right: 70px;
    /* height: 93%;
    width: 87%;
    text-align: center;
    padding-top: 0px; */
}
.PData h3 {
  font-size: 2.2rem;         
  font-weight: 600;          
  color: #ff9800;            /* Accent color */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.PData h4 {
  font-size: 1.9rem;         
  font-weight: 700;   
  color: violet;       /* Stronger for role */
  /* color: #ffffff; */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
}

.PData p {
  font-size: 1.2rem;         
  font-weight: 400;          
  color: #dcdcdc;            
  font-style: italic;        
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;          
  max-width: 550px;          
}
.PData button{
    padding-right: 70%;
    margin: 8px;
}
.PData .Hireme{
    height: 16%;
    width: 26%;
    background-color:#0ef;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;

}
.PData .Hireme:hover{
    background-color: orange;
    
    
}
.PData .Hireme a{
    text-decoration: none;
    color:rgb(5, 4, 4);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.PData .CV{
    height: 16%;
    width: 18%;
    background-color:#0ef;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.PData .CV:hover{
    background-color: orange;
}
.PData .CV a{
    text-decoration: none;
    color:rgb(5, 4, 4);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.PData .CVDown{
    height: 16%;
    width: 36%;
    background-color:#0ef;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.PData .CVDown:hover{
   background-color: orange;
}
.PData .CVDown a{
    text-decoration: none;
    color:rgb(5, 4, 4);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

