#Projects {
  padding: 20px;
  color: white;
  background-color: black;
  min-height: 100vh;
}

h3 {
  color: rgb(248, 53, 238);;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.filterButton {
  text-align: center;
  margin-bottom: 20px;
}

.filterButton button {
  font-size: 24px;

  margin: 8px;
  padding: 10px 20px;
  border-color: blueviolet;
  background-color: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filterButton .active {
  background-color: blueviolet;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-card {
  width: calc((100% - 80px) / 3);
  height: 237px;
  background-color: #1a1a1a;
  border: 2px solid blueviolet;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.project-card {
  position: relative;
  width: calc((100% - 80px) / 3);
  height: 237px;
  background-color: #1a1a1a;
  border: 2px solid blueviolet;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h4 {
  margin-bottom: 20px;
}

.buttons {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .buttons {
  opacity: 1;
}

.btn {
  padding: 8px 14px;
  background-color: blueviolet;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0 2px 5px rgba(138, 43, 226, 0.7);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rebeccapurple;
}
